/*
=============================================================================
>>>> color variable <<<<
==============================================================================
*/
:root {
    --primary-color: #DF0024;
    --secondary-color: #1c1c1c;
    --highlight-color: #c83d00;
}


/*
=============================================================================
 1. DEFAULT STYLE START
==============================================================================
*/
body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 25px;
    background: #f1f1f1;
}
img {
    width: 100%;
    height: auto;
}
.section-padding {
    padding: 30px 0;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
    outline: none;
}
/**
================================================================================
  1. DEFAULT STYLE END
================================================================================
*/


/**
===================================================================================
===============================  FRONT PAGE STYLE START  ==========================
===================================================================================
 */
/**
================================================================================
 1. Top Bar style start
================================================================================
*/
